﻿@model ConverterGampa.Models.Converter

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-12">
    <form asp-controller="Home" asp-action="Convert" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="Zipcode" class="control-label"></label>
            <input asp-for="Zipcode" class="form-control" />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Temperature_F"></label>
            <input asp-for="Temperature_F" class="form-control" />
            <span asp-validation-for="Temperature_F" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-info" />
        </div>

    </form>
</div>

<h2>@ViewData["Result"]</h2>
<script>
         if (@ViewData["Value"]<10){

             document.body.style.backgroundImage = "url(http://www.hdwallpaperscool.com/wp-content/uploads/2015/03/snow-hd-wallpaper-download-snow-images-free.jpg)";


         }
         else if(@ViewData["Value"] >=10 && @ViewData["Value"] <=20){

             document.body.style.backgroundImage = "url(https://wallpaperscraft.com/image/nature_waterfall_summer_lake_trees_90400_3840x2160.jpg)";



         }
         else{

             document.body.style.backgroundImage = "url(http://i.huffpost.com/gen/1080582/thumbs/o-DC-WEATHER-HEAT-facebook.jpg)";

         }
</script>
