@model IEnumerable<ConverterGampa.Models.Converter>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Temperature_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Temperature_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zipcode)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ConverterID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ConverterID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ConverterID">Delete</a>
        </td>
    </tr>
}
</table>
